.container {
   
   background-color: rgb(31, 23, 23);
   color: rgb(90, 237, 131);
   align-items: center;
   justify-content: center;
   border-color: rgb(90, 237, 131);
 }
 
 .form {
    width: 30rem;
    margin: auto;
    background-color: rgb(31, 23, 23);
    padding: 2.6rem 1rem;
    border-color: rgb(90, 237, 131);
    border-radius: 1rem;
 }
 
 h1 {
    width: 100%;
    text-align: center;
    margin: 0;
    
 }
 
 img {
    height: 15rem;
    width: 100%;
    margin: 1.5rem auto 1.5rem auto;
 }
 
 .full-width {
    width: 100%;
 }
 
 button {
   color: rgb(90, 237, 131);
    border-color: rgb(90, 237, 131);
    margin-top: 1.5rem;
 }
 
 mat-icon {
    opacity: .6;
 }